@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }
body { -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }

.glass-effect {
	background: rgba(28, 38, 49, 0.6);
	backdrop-filter: blur(24px);
	-webkit-backdrop-filter: blur(24px);
	border: 1px solid rgba(255, 255, 255, 0.06);
}

.material-symbols-outlined {
	font-variation-settings: 'wght' 400;
	font-family: 'Material Symbols Outlined';
}
